doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Hello, world
    link(rel='stylesheet', href='style.css')
  body
    #root.root
      != html
    script 
      - script = "window.globalInitialState = " + JSON.stringify(initialState);
      != script
    script(type='text/javascript', src='bundle.js', charset='utf-8')
