* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin: 10px;
}
.btn:not([disabled]) {
  cursor: pointer;
}
.btn:not([disabled]):hover {
  background: #e6e6e6;
}

.hide {
  display: none;
}

input[type="text"] {
  padding: 10px 10px;
}

.game {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #5191fd;
}
.game .game__panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10 10 10 #8db7fe;
}

.status {
  padding: 20px;
}
.status .status__share {
  position: absolute;
  border: 1px solid #e6e6e6;
  z-index: 1;
  background-color: #fff;
  top: 51px;
  left: 0;
  margin: 10px;
  padding: 10px;
}
.status .status__share-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  line-height: 15px;
  color: #e6e6e6;
  cursor: pointer;
}
.status .status__share-close:hover {
  color: #000000;
}
.status .status__room {
  position: absolute;
  left: 0;
  top: 0;
}
.status .status__message {
  text-align: center;
}

.choose {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.choose label,
.choose input[type="radio"] {
  cursor: pointer;
}
.choose .choose__radio:not(:last-of-type) {
  margin-right: 20px;
}
.choose .choose__submit {
  display: block;
  margin: 30px auto;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30% 0;
  text-align: center;
  background-color: #ffffff;
}
.menu .menu--join-form label {
  display: block;
  margin-top: 20px;
}

.game-control {
  width: 100%;
  height: 100%;
}
