* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
}

.btn {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  margin: 10px;
}
.btn:not([disabled]) {
  cursor: pointer;
}
.btn:not([disabled]):hover {
  background: #e6e6e6;
}

.hide {
  display: none;
}

input[type="text"] {
  padding: 10px 10px;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?2fee45958093c9d2d92b552488ae2628");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff?2fee45958093c9d2d92b552488ae2628") format("woff"), url("fonts/icons.ttf?2fee45958093c9d2d92b552488ae2628") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_paper:before {
  content: "\f101";
}

.icon_rock:before {
  content: "\f102";
}

.icon_scissors:before {
  content: "\f103";
}

.game {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #5191fd;
}
.game .game__panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10 10 10 #8db7fe;
  padding: 10px;
}

.status {
  padding: 20px;
}
.status .status__room {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.status .status__message {
  text-align: center;
}

.choose {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.choose label,
.choose input[type="radio"] {
  cursor: pointer;
}
.choose .choose__radio:not(:last-of-type) {
  margin-right: 20px;
}
.choose form label, .choose form input[type="radio"] {
  display: none;
}
.choose .choose__submit {
  display: block;
  margin: 30px auto;
}
.choose .choose_icons {
  line-height: 120px;
  font-size: 120px;
  color: #9999CC;
}
.choose .choose_icons .icon {
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  top: 0;
}
.choose .choose_icons .icon:hover {
  color: #6666FF;
}
.choose .choose_icons .icon.active {
  transform: scale(1.5);
  top: -40px;
  color: #6666FF;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}
.menu .menu__block {
  position: relative;
  top: 45%;
}
.menu .menu--join-form label {
  display: block;
  margin-top: 20px;
}

.game-control {
  width: 100%;
  height: 100%;
  position: relative;
}

.share {
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 0;
  max-width: 100%;
}
.share img, .share canvas {
  margin: auto;
  max-width: 100%;
}
.share .share__bg_hover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.share .share__block {
  padding: 10px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}
.share .share__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  line-height: 15px;
  color: #e6e6e6;
  cursor: pointer;
  text-align: center;
  max-width: 100%;
}
.share .share__close:hover {
  color: #000000;
}

.welcome {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}
.welcome .welcome__title {
  position: relative;
  top: 30%;
}
.welcome .welcome__menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
.welcome .welcome__copy_right {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 10%;
  font-size: 12px;
}

.ready {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
}
