* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

.btn {
  background: $white;
  border: 1px solid $btn-color;
  padding: 10px;
  margin: 10px;

  &:not([disabled]) {
    cursor: pointer;

    &:hover {
      background: $btn-color;
    }
  }
}

.hide {
  display: none;
}

input[type="text"] {
  padding: 10px 10px;
}