.choose {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;

  label,
  input[type="radio"] {
    cursor: pointer;
  }

  .choose__radio:not(:last-of-type) {
    margin-right: 20px;
  }

  form {
    transition: all 0.3s;
    opacity: 1;

    label, input[type="radio"] {
      display: none;
    }

    
  } 

  .choose__submit {
    display: block;
    margin: 30px auto;
  }

  .choose_icons {
    line-height: 120px;
    font-size: 120px;
    color: $hands-color;

    .icon {
      position: relative;
      transition: all 0.3s;
      cursor: pointer;
      top: 0;
      opacity: 1;

      &:hover {
        color: $hands-active-color;
      }

      &.active {
        transform: scale(1.5);
        top: -40px;
        color: $hands-active-color;
      }
    }
  }

  &.not-ready {
    input {
      visibility: hidden;
    }
  }

  &.punching .icon {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }

  &.punched .icon{
    opacity: 0;
  }

  &.both-punched .icon{
    opacity: 0;
    
    &.active {
      opacity: 1;
      top: -100px;
    }
  }
}