.share {
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 0;
  max-width: 100%;

  img, canvas {
    margin: auto;
    max-width: 100%;
  }

  .share__bg_hover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $grey-half-transparent;
  }

  .share__block {
    padding: 10px;
    border: 1px solid $block-border;
    background-color: $white;
  }

  .share__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    line-height: 15px;
    color: $block-border;
    cursor: pointer;
    text-align: center;
    max-width: 100%;

    &:hover {
      color: $black;
    }
  }
}
 